version: 2.1

orbs:
  go: circleci/go@1.1.1
  win: circleci/windows@2.2.0

references:
  environments:
    tmp: &TEST_RESULTS_PATH /tmp/test-results

environment: &ENVIRONMENT
  TEST_RESULTS: "/tmp/test-results"

jobs:
  linux-tests:
    executor:
      name: go/default
      tag: << parameters.go-version >>
    parameters:
      go-version:
        type: string
    environment:
      TEST_RESULTS: *TEST_RESULTS_PATH
    steps:
      - checkout
      - run: mkdir -p $TEST_RESULTS/go-getter
      - go/load-cache
      - go/mod-download
      - go/save-cache
      - run: 
          name: Run go format
          command: |
            files=$(go fmt ./...)
            if [ -n "$files" ]; then
              echo "The following file(s) do not conform to go fmt:"
              echo "$files"
              exit 1
            fi
      - run: 
          name: Run tests with gotestsum 
          command: |
            PACKAGE_NAMES=$(go list ./...)
            gotestsum --format=short-verbose --junitfile $TEST_RESULTS/go-getter/gotestsum-report.xml -- $PACKAGE_NAMES
      - store_test_results:
          path: *TEST_RESULTS_PATH
      - store_artifacts:
          path: *TEST_RESULTS_PATH
  windows-tests:
    executor: win/default
    working_directory: c:\gopath\src\github.com\hashicorp\go-getter
    parameters:
      go-version:
        type: string
    environment:
      TEST_RESULTS: *TEST_RESULTS_PATH
      WIN_GOPATH: c:\gopath
    steps: 
      - checkout
      - run: 
          name: Install dependencies
          shell: bash.exe
          command: |
            mkdir -p $TEST_RESULTS/go-getter
            # Module requires golang v.1.13+, but the default on Windows is 1.12
            choco install golang --version << parameters.go-version >>
            curl -fOL https://github.com/gotestyourself/gotestsum/releases/download/v0.4.1/gotestsum_0.4.1_windows_amd64.tar.gz
            tar -xvzf gotestsum_0.4.1_windows_amd64.tar.gz
      - run:
          name: Run tests with gotestsum 
          shell: bash.exe
          command: |
            git config --global core.autocrlf false
            PACKAGE_NAMES=$(go list ./...)
            ./gotestsum.exe --format=short-verbose --junitfile $TEST_RESULTS/go-getter/gotestsum-report.xml -- $PACKAGE_NAMES
      - store_test_results:
          path: *TEST_RESULTS_PATH
      - store_artifacts:
          path: *TEST_RESULTS_PATH

workflows:
  go-getter:
    jobs:
      - linux-tests:
          context: go-getter
          matrix:
            parameters:
              # Module requires golang v.1.13+ 
              go-version: ["1.14.1"]
          name: linux-test-go-<< matrix.go-version >>
      - windows-tests:
          context: go-getter
          matrix:
            parameters:
              # Module requires golang v.1.13+ 
              go-version: ["1.14.1"]
          name: win-test-go-<< matrix.go-version >>
